{% autoescape off %}
    Hello {{ user.email }}
  This is the OnlyDrivers Team, Someone has intiated a password reset for this account,
    if this was you please click the link below

  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

  If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead
    If this was not you, please take steps to re-secure your account and credentials

  Sincerely,
  OnlyDrivers
{% endautoescape %}