{% extends "about/base.html" %}

{% block content %}

{% if application.is_open and profile.is_driver %}
    <div class="w-75 mx-auto"><h1>Application to {{ application.sponsor_name }} ( --OPEN-- )</h1></div>
    <div class="shadow w-75 p-4 mx-auto bg-body rounded">
        Application Date:<strong> {{ application.date_created }}</strong><a href="{% url "application_edit" application.id %}" class="btn btn-secondary float-end" role="button">Edit Application</a>
        </br>
        {% if application.is_waitlisted %}
            Application Status: <strong class="text-secondary">Waitlisted</strong>
            </br>
            Reason: <strong>{{ application.application_reason }}</strong></br></br>
        {% endif %}
        <strong>Driver's General Information</strong> 
        <p>First Name: {{ application.first_name }}</p>
        <p>Last Name: {{ application.last_name }}</p>
        <p>Middle Initial: {{ application.middle_initial }}</p>
        <p>Email: {{ application.email }}</p>
        <p>Phone Number: {{ application.phone }}</p>
        
        <strong>Driver's Address Information</strong>
        <p>Street Address: {{ application.street_address }}</p>
        <p>City: {{ application.city }}</p>
        <p>State: {{ application.state }}</p>    
        <p>Zip Code: {{ application.zipcode }}</p>

        <strong>Vehicle Information</strong>
        <p>Driver's License Number: {{ application.license_num }}</p>
        <p>Plate Number: {{ application.plate_num }}</p>
        <p>Vehicle Year: {{ application.year }}</p>
        <p>Vehicle Make: {{ application.make }}</p>
        <p>Vehicle Model: {{ application.model }}</p>
        <p>VIN: {{ application.vin }}</p>
        <p>Insurance Provider: {{ application.provider_name }}</p>
        <p>Policy Number: {{ application.policy_number }}</p>
    </div>
    </br></br>
{% elif application.is_open and profile.is_sponsor %}
        <div class="w-75 mx-auto"><h1>{{ application.driver.user.username }}'s Application</h1></div>    
        <div class="shadow w-75 p-4 mx-auto bg-body rounded">
            Application Date:<strong> {{ application.date_created }}</strong><a href="{% url "application_edit" application.id %}" class="btn btn-secondary float-end" role="button">Edit Application</a>
            </br>
            {% if application.is_waitlisted %}
                Application Status: <strong class="text-secondary">Waitlisted</strong>
                </br>
                Reason: <strong>{{ application.application_reason }}</strong></br></br>
            {% endif %}
            <strong>Driver's General Information</strong>
            <p>First Name: {{ application.first_name }}</p>
            <p>Last Name: {{ application.last_name }}</p>
            <p>Middle Initial: {{ application.middle_initial }}</p>
            <p>Email: {{ application.email }}</p>
            <p>Phone Number: {{ application.phone }}</p>
            
            <strong>Driver's Address Information</strong>
            <p>Street Address: {{ application.street_address }}</p>
            <p>City: {{ application.city }}</p>
            <p>State: {{ application.state }}</p>    
            <p>Zip Code: {{ application.zipcode }}</p>
    
            <strong>Vehicle Information</strong>
            <p>Driver's License Number: {{ application.license_num }}</p>
            <p>Plate Number: {{ application.plate_num }}</p>
            <p>Vehicle Year: {{ application.year }}</p>
            <p>Vehicle Make: {{ application.make }}</p>
            <p>Vehicle Model: {{ application.model }}</p>
            <p>VIN: {{ application.vin }}</p>
            <p>Insurance Provider: {{ application.provider_name }}</p>
            <p>Policy Number: {{ application.policy_number }}</p>       
        </div>
        </br>
        <div class="w-75 mx-auto"><a href="{% url "application_approve" application.id %}" class="btn btn-success" role="button">Approve Application</a></div>
        </br>
        {% if not application.is_waitlisted %}
            <div class="w-75 mx-auto"><a href="{% url "application_waitlist" application.id %}" class="btn btn-outline-secondary" role="button">Waitlist Application</a></div>
            </br>
        {% endif %}
        <div class="w-75 mx-auto"><a href="{% url "application_deny" application.id %}" class="btn btn-danger" role="button">Deny Application</a></div>
        </br></br>
{% elif application.is_open and user.is_superuser %}
    <div class="w-75 mx-auto"><h1>{{ application.driver.user.username }}'s Application</h1></div>    
    <div class="shadow w-75 p-4 mx-auto bg-body rounded">
        Application Date:<strong> {{ application.date_created }}</strong><a href="{% url "application_edit" application.id %}" class="btn btn-secondary float-end" role="button">Edit Application</a>
        </br>
        {% if application.is_waitlisted %}
            Application Status: <strong class="text-secondary">Waitlisted</strong>
            </br>
            Reason: <strong>{{ application.application_reason }}</strong></br></br>
        {% endif %}
        <strong>Driver's General Information</strong>
        <p>First Name: {{ application.first_name }}</p>
        <p>Last Name: {{ application.last_name }}</p>
        <p>Middle Initial: {{ application.middle_initial }}</p>
        <p>Email: {{ application.email }}</p>
        <p>Phone Number: {{ application.phone }}</p>
        
        <strong>Driver's Address Information</strong>
        <p>Street Address: {{ application.street_address }}</p>
        <p>City: {{ application.city }}</p>
        <p>State: {{ application.state }}</p>    
        <p>Zip Code: {{ application.zipcode }}</p>

        <strong>Vehicle Information</strong>
        <p>Driver's License Number: {{ application.license_num }}</p>
        <p>Plate Number: {{ application.plate_num }}</p>
        <p>Vehicle Year: {{ application.year }}</p>
        <p>Vehicle Make: {{ application.make }}</p>
        <p>Vehicle Model: {{ application.model }}</p>
        <p>VIN: {{ application.vin }}</p>
        <p>Insurance Provider: {{ application.provider_name }}</p>
        <p>Policy Number: {{ application.policy_number }}</p>       
    </div>
    </br>
    <div class="w-75 mx-auto"><a href="{% url "application_approve" application.id %}" class="btn btn-success" role="button">Approve Application</a></div>
    </br>
    <div class="w-75 mx-auto"><a href="{% url "application_waitlist" application.id %}" class="btn btn-outline-secondary" role="button">Waitlist Application</a></div>
    </br>
    <div class="w-75 mx-auto"><a href="{% url "application_deny" application.id %}" class="btn btn-danger" role="button">Deny Application</a></div>
    </br></br>
{% elif not application.is_open and not user.is_superuser %}
    {% if profile.is_driver %}
        <div class="w-75 mx-auto"><h1>Application to {{ application.sponsor_name }} ( --CLOSED-- )</h1></div>
    {% else %}
        <div class="w-75 mx-auto"><h1>{{ application.driver.user.username }}'s Application</h1></div>
    {% endif %}
    <div class="shadow w-75 p-4 mx-auto bg-body rounded">
        Application Date:<strong> {{ application.date_created }}</strong><a href="{% url "application_edit" application.id %}" class="btn btn-secondary float-end" role="button">Edit Application</a>
        </br>
        {% if application.is_approved %}
            <p>Application Status: <strong style="color: rgb(50, 205, 50);">Approved</strong></p>
        {% else %}
            Application Status: <strong style="color: rgb(255, 0, 0);">Denied</strong>
            </br>
            Reason: <strong>{{ application.application_reason }}</strong></br></br>
        {% endif %}
        <strong>Driver's General Information</strong>
        <p>First Name: {{ application.first_name }}</p>
        <p>Last Name: {{ application.last_name }}</p>
        <p>Middle Initial: {{ application.middle_initial }}</p>
        <p>Email: {{ application.email }}</p>
        <p>Phone Number: {{ application.phone }}</p>
        
        <strong>Driver's Address Information</strong>
        <p>Street Address: {{ application.street_address }}</p>
        <p>City: {{ application.city }}</p>
        <p>State: {{ application.state }}</p>    
        <p>Zip Code: {{ application.zipcode }}</p>

        <strong>Vehicle Information</strong>
        <p>Driver's License Number: {{ application.license_num }}</p>
        <p>Plate Number: {{ application.plate_num }}</p>
        <p>Vehicle Year: {{ application.year }}</p>
        <p>Vehicle Make: {{ application.make }}</p>
        <p>Vehicle Model: {{ application.model }}</p>
        <p>VIN: {{ application.vin }}</p>
        <p>Insurance Provider: {{ application.provider_name }}</p>
        <p>Policy Number: {{ application.policy_number }}</p>       
    </div>
    {% if profile.is_sponsor %}
        </br>
        <div class="w-75 mx-auto"><a href="{% url "application_waitlist" application.id %}" class="btn btn-secondary" role="button">Waitlist Application</a></div>
    {% endif %}
    </br></br>
{% elif not application.is_open and user.is_superuser %}
    <div class="w-75 mx-auto"><h1>{{ application.driver.user.username }}'s Application</h1></div>    
    <div class="shadow w-75 p-4 mx-auto bg-body rounded">
        Application Date:<strong> {{ application.date_created }}</strong><a href="{% url "application_edit" application.id %}" class="btn btn-secondary float-end" role="button">Edit Application</a>
    </br>
        {% if application.is_approved %}
            <p>Application Status: <strong style="color: rgb(50, 205, 50);">Approved</strong></p>
        {% else %}
            Application Status: <strong style="color: rgb(255, 0, 0);">Denied</strong>
            </br>
            Reason: <strong>{{ application.application_reason }}</strong></br></br>
        {% endif %}
        <strong>Driver's General Information</strong>
        <p>First Name: {{ application.first_name }}</p>
        <p>Last Name: {{ application.last_name }}</p>
        <p>Middle Initial: {{ application.middle_initial }}</p>
        <p>Email: {{ application.email }}</p>
        <p>Phone Number: {{ application.phone }}</p>
        
        <strong>Driver's Address Information</strong>
        <p>Street Address: {{ application.street_address }}</p>
        <p>City: {{ application.city }}</p>
        <p>State: {{ application.state }}</p>    
        <p>Zip Code: {{ application.zipcode }}</p>

        <strong>Vehicle Information</strong>
        <p>Driver's License Number: {{ application.license_num }}</p>
        <p>Plate Number: {{ application.plate_num }}</p>
        <p>Vehicle Year: {{ application.year }}</p>
        <p>Vehicle Make: {{ application.make }}</p>
        <p>Vehicle Model: {{ application.model }}</p>
        <p>VIN: {{ application.vin }}</p>
        <p>Insurance Provider: {{ application.provider_name }}</p>
        <p>Policy Number: {{ application.policy_number }}</p>       
    </div>
    </br>
    <div class="w-75 mx-auto"><a href="{% url "application_approve" application.id %}" class="btn btn-success" role="button">Approve Application</a></div>
    </br>
    <div class="w-75 mx-auto"><a href="{% url "application_waitlist" application.id %}" class="btn btn-outline-secondary" role="button">Waitlist Application</a></div>
    </br>
    <div class="w-75 mx-auto"><a href="{% url "application_deny" application.id %}" class="btn btn-danger" role="button">Deny Application</a></div>
    </br></br>
{% else %}
    <strong>There was an error.</strong>
{% endif %}
{% if application.is_open %}
    <div class="w-75 mx-auto"><a href="{% url "application_list" %}" class="btn btn-outline-primary" role="button">Back</a></div>
{% elif not application.is_open %}
    <div class="w-75 mx-auto"><a href="{% url "application_closed" %}" class="btn btn-outline-primary" role="button">Back</a></div>
{% endif %}
</br>
</br></br></br></br></br></br>
{% endblock %}