{% extends 'base.html' %}
{% block content %}
                            <form method="POST">
                                {% csrf_token %}
                                      <label class="small mb-1" for="id_email">Email</label>
                                        <input type="email" name="email"  class="form-control"
                                               autocomplete="email" maxlength="254" required id="id_email"
                                               placeholder="Enter email">
                                                <br>
                                        <button type="submit" class="col-md-12 btn btn-dark">Submit
                                        </button>
                            </form>
                                <br>
                                <a href="{% url 'register_user' %}">Create A New Account</a><br>
                                <a href="{% url 'login' %}">Back To Login</a><br>
{% endblock content %}