{% extends "about/base.html" %}

{% block content %}
{% if user.is_superuser %}
    <p><h1>Admin Home</h1></p>
    <li>
        <strong>Applications to OnlyDrivers</strong>
        <a href="{% url "application_list" %}" class="btn btn-primary" role="button">View Applications</a>
    </li>
</br>
    <li>
        <strong>Active Drivers in OnlyDrivers</strong>
        <a href="{% url "driver_list" %}" class="btn btn-primary" role="button">View Drivers</a>
    </li>
</br>
    <li>
        <strong>Add a New Sponsor User to an OnlyDrivers organization</strong>
        <a href="{% url "add_sponsor_user" %}" class="btn btn-primary" role="button">Add User</a>
    </li>
</br>
    <h2>View Reports</h2>
    <li>
        <a href="{% url "login_report" %}" class="btn btn-primary" role="button">Login Report</a>
    </li>
</br>
{% elif sponsor.is_sponsor %}
    <p> <h1>{{ sponsor.sponsor_name }} Sponsor Organization Home</h1></p>
    <li>
        <strong>Applications to {{ sponsor.sponsor_name }}</strong>
        <a href="{% url "application_list" %}" class="btn btn-primary" role="button">View Applications</a>
        </br>
    </li>
</br>
    <li>
        <strong>Active Drivers in {{ sponsor.sponsor_name }}</strong>
        <a href="{% url "driver_list" %}" class="btn btn-primary" role="button">View Drivers</a>
    </li>
</br>
    <li>
        <strong>Add a New Sponsor User to {{ sponsor.sponsor_name }}</strong>
        <a href="{% url "add_sponsor_user" %}" class="btn btn-primary" role="button">Add User</a>
    </li>
</br>
{% comment %}Will be implemented when sponsor reports are available.{% endcomment %}
{% comment %}<h2>View Reports</h2>
    <li>
        <a href="{% url "login_report" %}" class="btn btn-primary" role="button">Login Report</a>
    </li>
</br>
{% endcomment %}
{% endif %}
{% endblock %}