{% extends "about/base.html" %}

{% block content %}
<div class="shadow p-4 mx-auto bg-body rounded" style="width: 525">  
    <h1>Edit Your Profile</h1>
    <form method=POST>
            {% csrf_token %}
    </br>      
            <h2>General Information</h2>
            {{ driver_form.as_p }}
    </br>
            <h3>My Vehicles</h3>
            {% for vehicle in driver.vehicles.all %}
                <strong>Vehicle {{ forloop.counter }}</strong>
                {{ vehicle_form.as_p }}
            {% endfor %}
            <button type="submit" class="btn btn-secondary">Save Changes</button>
    </form>
</div>
{% endblock %}