{% extends "about/base.html" %}
{% load static %}

{% block content %}
{% if user.is_superuser %}
    <p><h1>Admin Dashboard</h1></p>
    <li>
        <strong>Applications to OnlyDrivers</strong>
        <a href="{% url "application_list" %}" class="btn btn-primary" role="button">View Applications</a>
    </li>
</br>
    <li>
        <strong>Active Drivers in OnlyDrivers</strong>
        <a href="{% url "driver_list" %}" class="btn btn-primary" role="button">View Drivers</a>
    </li>
</br>
    <li>
        <strong>Add a New Sponsor User to an OnlyDrivers organization</strong>
        <a href="{% url "add_sponsor_user" %}" class="btn btn-primary" role="button">Add User</a>
    </li>
</br>
    <h2>View Reports</h2>
    <li>
        <a href="{% url "login_report" %}" class="btn btn-primary" role="button">Login Report</a>
    </li>
</br>
{% elif profile.is_sponsor %}
    <p> <h1>{{ sponsor.sponsor_name }} Sponsor Organization Dashboard</h1></p>
    <li>
        <strong>Applications to {{ sponsor.sponsor_name }}</strong>
        <a href="{% url "application_list" %}" class="btn btn-primary" role="button">View Applications</a>
        </br>
    </li>
</br>
    <li>
        <strong>Active Drivers in {{ sponsor.sponsor_name }}</strong>
        <a href="{% url "driver_list" %}" class="btn btn-primary" role="button">View Drivers</a>
    </li>
</br>
    <li>
        <strong>Add a New Sponsor User to {{ sponsor.sponsor_name }}</strong>
        <a href="{% url "add_sponsor_user" %}" class="btn btn-primary" role="button">Add User</a>
    </li>
</br>
{% comment %}Will be implemented when sponsor reports are available.{% endcomment %}
{% comment %}<h2>View Reports</h2>
    <li>
        <a href="{% url "login_report" %}" class="btn btn-primary" role="button">Login Report</a>
    </li>
</br>
{% endcomment %}
{% elif profile.is_driver %}
    {% if driver.sponsors.all %}
    <h1>Your Driver Dashboard</h1>
    <li>
        <strong>Apply to a sponsor.</strong>
        <a href="{% url "application_form" %}" class="btn btn-primary" role="button">Apply</a>
    </li>
    </br>
    <li>
        <strong>Manage your sponsors:</strong>
        <a href="{% url "sponsors_list" %}" class="btn btn-primary" role="button">Your Sponsors</a>
    </li>
    </br>
    <li>
        <strong>Your applications:</strong>
        <a href="{% url "application_list" %}" class="btn btn-primary" role="button">View Applications</a>
    </li>
    
    
    {% else %}
        <div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
            <a href="{% url 'application_form' %}" class="text-center" style="margin-bottom: 20px; text-decoration: none; color: black;">
                <p>It looks like you don't have a sponsor yet.</p>
                <img src="{% static 'application.png' %}" alt="Application" width="300">
                <p>Click here to start an application!</p>
            </a>
            <div class="align-items-center d-flex flex-column">
                <strong class="text-center float-none" style="margin-bottom: 10px";>Your Applications</strong>
                <p><a href="{% url "application_list" %}" class="btn btn-primary float-none text-center" role="button">View Applications</a></p>
            </div>
        </div>
            
    {% endif %}
{% endif %}
{% endblock %}